:root {
  --soft-orange: hsl(35, 77%, 62%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hamburger-icon,
.close-icon {
  cursor: pointer;
}

.nav ul {
  gap: 10px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 99;
}

.mobile-nav.active {
  display: flex;
}

.close-icon {
  margin-left: auto;
  margin-bottom: 75px;
}

.desktop-nav {
  display: none;
}

.nav li {
  padding: 10px;
  cursor: pointer;

  &:hover a {
    color: var(--soft-orange);
  }
}

.desktop-nav li a {
  color: var(--dark-grayish-blue);
}

.mobile-nav li a {
  color: var(--very-dark-blue);
}

.shadow {
  display: none;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
}

.shadow.active {
  display: block;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.future-web-article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.future-web-article .mobile-img {
  width: 100%;
}

.future-web-article h1 {
  font-size: 36px;
  font-weight: 800;
  color: var(--very-dark-blue);
}

.future-web-article p {
  color: var(--dark-grayish-blue);
}

.future-web-article button {
  color: var(--very-dark-blue);
  background-color: var(--soft-red);
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  border: 3px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  &:hover {
    color: var(--soft-red);
    background-color: var(--very-dark-blue);
    border-color: (--soft-red);
  }
}

.new-article {
  background-color: var(--very-dark-blue);
  padding: 15px;
}

.new-article h2 {
  color: var(--soft-orange);
  font-size: 32px;
}

.new-article h3 {
  color: var(--off-white);
  font-size: 20px;
}

.new-article p {
  color: var(--grayish-blue);
  font-size: 16px;
}

.new-article section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-article section:nth-child(-n + 3) {
  border-bottom: 1px solid var(--grayish-blue);
}

@media (min-width: 600px) {
  .mobile-nav,
  .mobile-nav.active,
  .shadow,
  .shadow.active,
  .hamburger-icon {
    display: none;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
